body {
   background: #fafafa;
   font-family: "HelveticaNeue-Light"
}

.header {
	padding: 1.5rem;
}

.flex-container {
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-end;
  	.flex-item {
  		padding: 3%;
  	}
  	.user-name {
  		text-align: center;
  	}
} 

.user-img {
	width: 296px;
	height: auto;
	padding: 1%;
	border-radius: 100px;
	cursor: pointer;
  	border-style: solid;
}

.post-list {
	list-style-type: circle;

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-img{
    	width: 20%;
    	height: auto;
    	border-radius: 10px;
    	float: left;
    	padding-right: 1rem;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 35rem;
        border-radius: 0.75rem;
    }
    .submit {
    	height: 2rem;
    	width: 7rem;
    	font-size: 20px;
    	float: right;
    }
}
